body{
    width: 100%;
   background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../Images/background.jpg');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    color: #fff;
}
#cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
#bg{
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: none;
    transition: background-image 550ms ease-in-out;
}
header{
    margin: 0 auto;
    width: 90%;
    min-height: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin-bottom: 30px;
}
.logo{
    width: 30vh;
}
@media (max-width: 768px){
    .logo{
    margin: 0 auto;
    }
}
.main-heading{
    font-size: 1rem;
    color: #fff;
    text-align: center;
    justify-self: center;
}
.main-heading h1{
    font-size: 2.5rem;
}
.custom-toggler.navbar-toggler-icon{
    background: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#cards{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.main-container{
    width: 21rem;
    height: 60vh;
    background: #fff;
    position: relative;
    cursor: pointer;
    z-index: 98;
    transform: scale(1);
    transition: transform 550ms ease-in-out;
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-position: top;
    z-index: 100;
}

.culture{
    background: url('../Images/01_culture.jpg');
    background-size: cover;
    background-position: center;
}
.sport{
    background: url('../Images/02_sport.jpg');
    background-size: cover;
    background-position: center;
    
}
.action{
    background: url('../Images/03_action.jpg');
    background-size: cover;
    background-position: center;
}
.content-head{
    font-size: 5rem;
    transition: opacity 250ms ease-in-out 100ms;
    z-index: 9;
    z-index: 9;
}
.content-head::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #fff;
    display: block;
}
.content-title{
    font-size: 3rem;
    transition: opacity 250ms ease-in-out;
}
.hidden{
    width: 123%;
    position: absolute;
    bottom:30px;
    left: -50px;
    transition: bottom 550ms ease-in-out 300ms,
    left 550ms ease-in-out 300ms;
}
.hidden .content-head{
    font-size: 8rem;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}
.hidden .content-head::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #fff;
    display: block;
    transform: scale(0);
    transform-origin: left;
    transition: transform 550ms ease-in-out 100ms;
}
.hidden .content-title{
    font-size: 4rem;
    opacity: 0;
    transition-delay: 0s;
    transform: scale(0);
    transform-origin: bottom left;
    transition: opacity 250ms ease-in-out,
    transform 550ms ease-in-out;

}

.hidden .content-button{
    width: 10rem;
    height: 8vh;
    background: transparent;
    color: #fff;
    font-size: 1.3rem;
    border: 2px solid #fff !important;
    position: relative;
    transform: scale(1,0);
    transform-origin: bottom;
    transition: transform 250ms ease-in-out;
    transition-delay: 0;
}
@media (min-width: 1220px){
    .content-button:hover{
        color: #000;
    }
    .hidden .content-button::after{
        content: '';
        width: 100%;
        height: 100%;
        background: #fff;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -9;
        transform: scale(0,1);
        transform-origin: left;
        transition: transform 250ms ease-in-out;
    }
    .hidden .content-button:hover::after{
        transform: scale(1);
    }
    
    .main-container:hover{
        z-index: 100;
        transform: scale(1.1);
    
    }
    .main-container:hover .hidden{
        bottom: -5px;
        left: -25px;
    }
    
    .main-container:hover .hidden .content-title{
        transform: scale(1);
    }
    .main-container:hover .hidden .content-button{
        transition-delay: 800ms; 
        transform: scale(1);
    }
    .main-container:hover ~ #bg{
        display: block;
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6))!important;
    }
    
    .main-container:hover .hidden .content-head,
    .main-container:hover .hidden .content-title{
        opacity: 1;
    }
    .main-container:hover .content-head,
    .main-container:hover .content-title{
        opacity: 0;
    }
    .main-container:hover .hidden .content-head::after{
        transform: scale(1);
    }
}